<header class="site-header" role="banner">
  <div class="wrapper">
    <nav class="site-nav">
      <div class="nav-left">
        <a href="https://github.com/{{ site.github_username }}">
          <svg class="svg-icon">
            <use
              xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"
            ></use>
          </svg>
          <span class="username">{{ site.github_username }}</span>
        </a>
        <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
          <svg class="svg-icon">
            <use
              xlink:href="{{ '/assets/minima-social-icons.svg#linkedin' | relative_url }}"
            ></use>
          </svg>
          <span class="username">{{ site.linkedin_username }}</span>
        </a>
        <a class="nav-social" href="mailto:{{ site.email }}" aria-label="Email"
          >{{ site.email }}</a
        >
      </div>
      <div class="nav-right">
        <a class="page-link" href="{{ '/' | relative_url }}">Home</a>
        <a class="page-link" href="{{ '/resume/' | relative_url }}">Résumé</a>
      </div>
    </nav>
  </div>
</header>
